*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


main{
  height: calc(100% - 90px);
}
main::after{
  content: "";
  display: table;
  clear: both;
}
img{
  height: 50px;
}


.menu-sx{
  float:left;
  width: 230px;
  height: calc(100vh - 90px);
  background-color: black;
  color: #a3a3a3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
}

.logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  margin-bottom: 10px;
}

.logo img{
  height: 40px;
  width: 70%;

}
.tasto-menu-dx{
  margin-top: 1px;
  height: 5%;
  display: flex;
  align-items: center;
}
.tasto-menu-dx img{
  height: 25px;
  color: #a3a3a3;
}

.playlist{
  height: 40%;
  color:white;
  padding-top: 10px;

}

.playlist a{
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #a3a3a3;

}
.playlist .nuova-pl{
  height: 15%;
  color: #a3a3a3;
}

.tasto-piu{
  background-color: grey;
  color: black;
  height: 80%;
  width: 15%;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}



.installa{
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 10px;
  color: #a3a3a3;
  height: 10%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #a3a3a3;

}
.installa img{
  height: 20px;
  padding-right: 10px;

}

.profilo{
  height: 30px;;
  display: flex;
  align-items: center;
}
.profilo img{
  border-radius: 50%;
  background-color:#a3a3a3;
  height:  90%;
  margin-right: 5px;
}

.pagina{
  float:left;
  width: calc(100% - 230px);
  height: calc(100vh - 90px);
  background-color: grey;
}
.upgrade{
  height:50px;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.sez-principale{
margin: 0 1%;
}

.nav{
  border: 1px solid white;
  height: 50px;
  display:flex;
  justify-content: center;

}
.nav ul{
  display: flex;
  list-style-type: none;
}

.nav li{
  margin-left: 10px;
}


.cont-alb{
  display: flex;
  justify-content: space-between;
}
.album{
  border: 1px solid white;
  height: 120px;
  width: 15%;
  margin-right: 5px;
}

.cont-creato{
  display: flex;
  justify-content: flex-start;
}

/* @media all and (max-width: 800px) {
  .sez-principale{
    flex-wrap: wrap;
} */

footer{
  height:90px;
  width: 100vw;
  background-color: red;
  bottom: 0;
  left:0;
  display: flex;
  justify-content: space-around;

}

.brano{
  width: 20%;
  height: 100%;
  border: 1px solid blue;
}

.barra-player{
  width: 60%;
  height: 100%;
  border: 1px solid blue;

}

.volume{
  width: 20%;
  height: 100%;
  border: 1px solid blue;
}
