*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


main{
  height: calc(100vh - 90px);
}
main::after{
  content: "";
  display: table;
  clear: both;
}
img{
  height: 50px;
}

 /* MENU SX */
.menu-sx{
  float:left;
  width: 230px;
  height: calc(100vh - 90px);
  background-color: black;
  color: #a3a3a3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;

}

.logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  margin-bottom: 10px;
}

.logo img{
  height: 40px;
  width: 70%;

}
.tasto-menu-dx{
  margin-top: 1px;
  height: 5%;
  display: flex;
  align-items: center;
}
.tasto-menu-dx img{
  height: 25px;
  color: #a3a3a3;
}

.playlist{
  height: 40%;
  color:white;
  padding-top: 10px;

}

.playlist a{
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #a3a3a3;

}
.playlist .nuova-pl{
  height: 15%;
  color: #a3a3a3;
}

.tasto-piu{
  background-color: grey;
  color: black;
  height: 80%;
  width: 15%;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}



.installa{
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 10px;
  color: #a3a3a3;
  height: 10%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #a3a3a3;

}
.installa img{
  height: 20px;
  padding-right: 10px;

}

.profilo{
  height: 30px;;
  display: flex;
  align-items: center;
}
.profilo img{
  border-radius: 50%;
  background-color:#a3a3a3;
  height:  90%;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* BLOCCO A DX */
.pagina{
  float:left;
  width: calc(100% - 230px);
  height: 100%;
  background-color: #141922;
  padding-bottom: 90px;

}

/* STRISCIA ALTA UPGRADE */

.upgrade{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
  background-color: #080b12;
  height: 50px;
}
.upgrade a{
  display: flex;
  width: 20%;
  background-color: #080b12;
  justify-content: center;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid white;
  color:white;
  font-size: 12px;

}

/* SEZIONE PRINCIPALE ALBUM */
.sez-principale{
  overflow: scroll;
  height: 100%;

}

/* BARRA MENU */
.nav{
  height: 50px;
  display:flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;


}
.nav ul{
  display: flex;
  list-style-type: none;
}

.nav li{
  margin-left: 10px;

}

.nav a{
  color:#7a7d81;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  font-family: sans-serif;
}
/* PLAYED */

.cont-alb{
  display: flex;
  justify-content: space-between;
}

.album{
  width: 15%;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.played img{
  width: 100%;
  height: auto;
}
.played h2{
  color:white;
  margin-bottom: 10px;
}
.played h4{
  color:white;
  margin-top: 10px;
}
.played h6{
  color:#7a7d81;
  margin-top: 5px;
}

.creato-per{
  margin-top: 20px;
  height: auto;
}

.cont-creato{
  display: flex;
  justify-content: flex-start;
}
.creato-per h5{
  color:#7a7d81;
  margin-bottom: 10px;
  margin-top: 10px;
}


/* @media all and (max-width: 800px) {
  .sez-principale{
    flex-wrap: wrap;
} */


/* FOOTER */
footer{
  height:90px;
  width: 100vw;
  background-color: #282828;
  bottom: 0;
  left:0;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  position: fixed;


}

.brano{
  width: 230px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.brano img{
  height: 40px;
  width: auto;
}
.brano .h{
  margin-right: 30px;
}
.brano h4{
  color:white;
}
.brano h6{
  color:#7a7d81;
}

.brano .far{
  color: #7a7d81;
}
.barra-player{
  width: calc(100vw - 230px - 230px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p-sopra , .p-sotto{
  height: 30px;
  width: 100%;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.p-sopra i{
  margin-right: 15px;
}

.p-sotto .br-piena{
  height: 2px;
  width: 10%;
  color: white;
  border: 2px #7a7d81 solid;
  border-radius: 2px;


}

.p-sotto h6{
  margin: 0 20px;
}
.p-sotto .br-vuota{
  height: 2px;
  width: 40%;
  color: white;
  border: 2px white solid;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


.volume{
  width: 230px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.volume i{
  color:white;
  margin-right: 15px;
}
.volume .br-piena{
  height: 2px;
  width: 10%;
  color: white;
  border: 2px #7a7d81 solid;
  border-radius: 2px;

}

.volume .br-vuota{
  height: 2px;
  width: 40%;
  color: white;
  border: 2px white solid;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
